.discount-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.discount-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(black, rgb(32, 58, 83));
    height: 4rem;
    border-radius: 0.5rem;
    width: 80vw;
}
.message{
    color: aliceblue;
}