.card-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.add_new_product_btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(212, 46, 46);
  color: aliceblue;
  border-radius: 0.5rem;
  border-color: aliceblue;
  height: 2rem;
  cursor: pointer;
}
