@import '../../App.css';

.card-container {
    box-shadow: rgba(9, 9, 82, 0.507) 0px 7px 29px 0px;
    padding: 23px;
    margin-top: 30px;
    margin-left:5px;
    margin-right: 3px;
    width: 16%;
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
    position: relative;
}
.card-container.dark {
    background-color: var(--bg-color-dark-cart);
    color: var(--text-color-dark);
}

.card-image {
    max-width: 100%;
    height: 12rem;
    object-fit: cover;
}

.card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding: 0 10px;
}


.price-container {
    color: rgb(40, 147, 219);
}

#detailsButton {
    background-color: rgba(4, 14, 100, 0.829);
    color: aliceblue;
    height: 2rem;
    width: 100%;
    border-radius: 0.5rem;
    border-color: white;
    cursor: pointer;
}

.admin_utils {
    position: absolute;
    right: 0.5rem;
    list-style: none;
    top: 0.9rem;
}
.admin_utils > li {
    margin: 0.5rem 0.2rem 0 0;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.admin_utils > li:hover {
    color: rgb(255, 1, 1);
}

