.footer-container{
    background-color: rgb(14, 13, 24);
    color: aliceblue;
    margin-top: 2rem;
}
.footer-info{
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact-info, .social-media-info, .address-info{
    list-style: none;
}
.contact-info > li, .social-media-info > li, .address-info > li {
    margin: 0.45rem;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(0, 0, 0);
}