.footer-container {
    background-color: #0f253a;
    padding: 20px;
    color: #ffffff;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-info ul li {
    margin-bottom: 10px;
}

.footer-info ul li b {
    font-weight: bold;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #ffffff;
}