:root {
    --bg-color-light: white;
    --text-color-light: black;
    --bg-color-dark: rgb(49, 49, 49);
    --text-color-dark: aliceblue;
    --bg-color-dark-cart: rgb(20, 20, 20);
}
#body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
    transition: background-color 0.2s, color 0.2s ease-in-out;
}
#body.dark {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}